$font-family-base: Arial, sans-serif !default;
$font-family-medium: Arial, sans-serif !default;
$font-family-special: Arial, sans-serif !default;

$font-size-xxl: 30px !default;
$font-size-xl: 20px !default;
$font-size-lg: 18px !default;
$font-size-md: 16px !default;
$font-size-xs: 14px !default;
$font-size-xxs: 12px !default;
$font-size-base: $font-size-md !default;

$font-weight-bold: 700 !default;
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-base: $font-weight-medium !default;

$line-height-lg: 2 !default;
$line-height-md: 1.19 !default;
$line-height-mdd: 1.34 !default;
$line-height-xs: 1.25 !default;
$line-height-xxs: 1.2 !default;
$line-height-base: $line-height-md !default;

$content-line-height-mdd: 1.4 !default;

$font-size-h1: 60px !default;
$font-size-h2: 28px !default;
$font-size-h3: 32px !default;
$font-size-h4: 26px !default;
$font-size-h5: 20px !default;

$font-size-h1-md: 50px !default;
$font-size-h2-md: 35px !default;

$font-size-h1-xs: 32px !default;
$font-size-h2-xs: 26px !default;
$font-size-h3-xs: 20px !default;
$font-size-h4-xs: 18px !default;
$font-size-h5-xs: 14px !default;

$line-height-h1: 1 !default;
$line-height-h2: 42px !default;
$line-height-h3: 1.1 !default;
$line-height-h4: 1.1 !default;
$line-height-h5: 1.2 !default;

$line-height-h1-xs: 1.19 !default;
$line-height-h2-xs: 1.2 !default;
$line-height-h3-xs: 1.2 !default;
$line-height-h4-xs: 1.22 !default;
$line-height-h5-xs: 1.21 !default;

$font-size-h1-xss: 36px !default;

$typography-margin-top: 0px !default;
$typography-margin-bottom: 0px !default;

$margin-bottom-h1: 80px !default;
$margin-bottom-content-h1: 30px !default;

$headings-font-family: $font-family-special !default;
$headings-font-weight: $font-weight-bold !default;
